<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yang.blog.mapper.SysRoleMapper">
    <resultMap id="map" type="com.yang.blog.entity.SysRoleEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="name_zh" property="nameZh"/>
    </resultMap>

    <select id="getRoleAll" resultMap="map">
        SELECT * FROM sys_role
    </select>

    <select id="getUserRoleAll" resultType="map">
        SELECT
		  r.`name_zh` AS `name`,
		  COUNT(u.`id`) AS `value`
		FROM
		  sys_role AS r
		  LEFT JOIN sys_user_role AS ur
			ON ur.`roleid` = r.`id`
		  LEFT JOIN sys_user AS u
			ON ur.`userid` = u.`id`
		GROUP BY r.`name_zh`
    </select>

    <insert id="addRole">
        INSERT INTO sys_role (`name`) VALUES (#{RoleName,jdbcType=VARCHAR})
    </insert>

    <update id="updRole" parameterType="com.yang.blog.entity.SysRoleEntity">
        UPDATE sys_role SET `name`=#{name},name_zh=#{nameZh}
        WHERE id=#{id}
    </update>

    <delete id="delRole">
        DELETE FROM sys_role WHERE id = #{id}
    </delete>
</mapper>