<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yang.blog.mapper.UAuntMapper">
    <resultMap id="map" type="com.yang.blog.entity.UAuntEntity">
        <id column="id" property="id"/>
        <result column="uName" property="uName"/>
        <result column="startDate" property="startDate"/>
        <result column="endDate" property="endDate"/>
        <result column="cycle" property="cycle"/>
        <result column="duration" property="duration"/>
        <result column="bloodVolume" property="bloodVolume"/>
        <result column="symptom" property="symptom"/>
        <result column="note" property="note"/>
        <result column="uStatus" property="uStatus"/>
    </resultMap>

    <select id="getByALL"  resultMap="map">
        SELECT * FROM u_aunt ORDER BY endDate DESC
    </select>

    <select id="findNameAll" resultMap="map">
        SELECT uName FROM u_aunt GROUP BY uName
    </select>

    <select id="selectByName" resultMap="map">
        SELECT * FROM u_aunt WHERE uName LIKE CONCAT('%',#{uName},'%') ORDER BY endDate DESC
    </select>

    <select id="selectByNameAll" resultMap="map">
        SELECT * FROM u_aunt WHERE uName=#{uName} AND uStatus=#{uStatus} ORDER BY endDate DESC
    </select>

    <insert id="addAunt" parameterType="com.yang.blog.entity.UAuntEntity">
        INSERT INTO u_aunt (id,uName,startDate,endDate,cycle,duration,bloodVolume,symptom,note,uStatus)
        VALUES (#{id,jdbcType=VARCHAR},#{uName,jdbcType=VARCHAR},#{startDate,jdbcType=VARCHAR},#{endDate,jdbcType=VARCHAR}
        ,#{cycle,jdbcType=VARCHAR},#{duration,jdbcType=VARCHAR},#{bloodVolume,jdbcType=VARCHAR},#{symptom,jdbcType=VARCHAR}
        ,#{note,jdbcType=VARCHAR},#{uStatus,jdbcType=VARCHAR})
    </insert>

    <update id="updAunt" parameterType="com.yang.blog.entity.UAuntEntity">
        UPDATE u_aunt SET startDate=#{startDate,jdbcType=VARCHAR},endDate=#{endDate,jdbcType=VARCHAR},
        cycle=#{cycle,jdbcType=VARCHAR},duration=#{duration,jdbcType=VARCHAR},bloodVolume=#{bloodVolume,jdbcType=VARCHAR},
        symptom=#{symptom,jdbcType=VARCHAR},note=#{note,jdbcType=VARCHAR},uStatus=#{uStatus,jdbcType=VARCHAR}
        WHERE id=#{id}
    </update>

    <delete id="delAunt" parameterType="String">
        DELETE FROM u_aunt WHERE id=#{id,jdbcType=VARCHAR}
    </delete>

</mapper>