<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yang.blog.mapper.UEventMapper">
    <resultMap id="map" type="com.yang.blog.entity.UEventEntity">
        <id column="e_id" property="id"/>
        <result column="e_title" property="eTitle"/>
        <result column="e_content" property="eContent"/>
        <result column="e_startDate" property="startDate"/>
        <result column="e_endDate" property="endDate"/>
        <result column="e_name" property="uName"/>
        <result column="e_address" property="eAddress"/>
        <result column="isNotice" property="isNotice"/>
        <result column="e_createNameID" property="createNameID"/>
        <result column="e_createName" property="createName"/>
        <result column="e_createDate" property="createDate"/>
        <result column="e_note" property="note"/>
        <result column="e_type" property="type"/>
    </resultMap>

    <select id="getEvenByPage" resultType="map" parameterType="com.yang.blog.entity.UEventEntity">
        SELECT e.*,u.username as e_createName FROM u_even e
        LEFT JOIN sys_user u on e.e_createNameID = u.id
        <where>
            <if test="type != null">
                and e_type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="eTitle != null ">
                and e_title LIKE CONCAT('%',#{eTitle},'%')
            </if>
            <if test="uName != null ">
                and e_name LIKE CONCAT('%',#{uName},'%')
            </if>
            <if test="createName != null ">
                and e_createName = #{createName,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY e_createDate DESC
    </select>

    <insert id="addEven" parameterType="com.yang.blog.entity.UEventEntity">
        INSERT INTO u_even (e_id,e_title,e_content,e_startDate,e_endDate,e_name,e_address,isNotice,e_createNameID,e_createDate,e_note,e_type)
        VALUES (#{id,jdbcType=VARCHAR},#{eTitle,jdbcType=VARCHAR},#{eContent,jdbcType=VARCHAR},#{startDate,jdbcType=VARCHAR}
        ,#{endDate,jdbcType=VARCHAR},#{uName,jdbcType=VARCHAR},#{eAddress,jdbcType=VARCHAR},#{isNotice,jdbcType=VARCHAR}
        ,#{createNameID,jdbcType=VARCHAR},#{createDate,jdbcType=VARCHAR},#{note,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR})
    </insert>

    <update id="updEvent" parameterType="com.yang.blog.entity.UEventEntity">
        UPDATE u_even SET e_title=#{eTitle,jdbcType=VARCHAR},e_content=#{eContent,jdbcType=VARCHAR},
        e_startDate=#{startDate,jdbcType=VARCHAR},e_endDate=#{endDate,jdbcType=VARCHAR},
        e_address=#{eAddress,jdbcType=VARCHAR},isNotice=#{isNotice,jdbcType=VARCHAR},e_note=#{note,jdbcType=VARCHAR}
        WHERE e_id=#{id}
    </update>

    <delete id="delEvent" parameterType="String">
        DELETE FROM u_even WHERE e_id=#{id,jdbcType=VARCHAR}
    </delete>
</mapper>